{
    "openWithInventory": true,
    "gui" : {
        "background" : {
            "zlevel" : -1,
            "type" : "background",
            "fileHeader" : "/interface/scripted/deedmenu/colonydeed_test.png",
            "fileBody" : "",
            "fileFooter" : ""
        },
        "xmarker" : {
            "type": "button",
            "position" : [150, 238],
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "press" : "/interface/xpress.png",
            "pressedOffset": [0,-1],
            "visible" : true,
            "enabled": true,
            "callback" : "close"
        },
        "listLayout" : {
            "type": "layout",
            "layoutType": "vertical",
            "vAnchor" : "top",
            "hAnchor" : "left",
            "fillDown" : true,
            "spacing" : 3,
            "position" : [30, 222],
            "size": [100, 105],
            "children": {
                "tenantList" : {
                    "type": "list",
                    "callback" : "null",
                    "position" : [0, 2],
                    "schema": {
                        "memberSize": [100, 20],
                        "spacing": [0,1],
                        "listTemplate": {
                            "background": {
                                "type": "button",
                                "base" : "/interface/scripted/deedmenu/listitembg.png:unselected",
                                "hover" : "/interface/scripted/deedmenu/listitembg.png:hover",
                                "disabledImageChecked" : "/interface/scripted/deedmenu/listitembg.png:selected",
                                "baseImageChecked" : "/interface/scripted/deedmenu/listitembg.png:selected",
                                "checkable" : true,
                                "checked" : false,
                                "position": [0,0],
                                "size": [100,20],
                                "callback" : "onTenantListItemPressed",
                                "pressedOffset" : [0,0],
                                "zlevel": 0
                            },
                            "portraitCanvas" : {
                                "type": "canvas",
                                "position": [0,0],
                                "size": [100, 20],
                                "zlevel": 0,
                                "mouseTransparent": true,
                                "captureMouseEvents": false,
                                "captureKeyboardEvents": false
                            },
                            "portraitSlot" : {
                                "type": "itemslot",
                                "position": [0,0],
                                "zlevel": 1,
                                "showRarity" : false,       
                                "callback": "onTenantListItemPressed",
                                "rightClickCallback": "null",
                                "mouseTransparent": true,
                                "iconMode" : true,
                                "backingImage": "/interface/inventory/portrait.png"
                            }
                        }
                    }
                }
            }
        },
        "detailArea" : {
            "type": "layout",
            "layoutType": "basic",
            "position": [10, 20],
            "size" : [140, 90],
            "visible" : true,
            "children": {
                "detailCanvas": {
                    "type": "canvas",
                    "position": [0,0],
                    "size": [140, 70],
                    "zlevel": -1,
                    "mouseTransparent": true,
                    "captureMouseEvents": false,
                    "captureKeyboardEvents": false
                },
                "portraitCanvas" : {
                    "type": "canvas",
                    "position": [0,0],
                    "size": [140, 70],
                    "zlevel": 0,
                    "mouseTransparent": true,
                    "captureMouseEvents": false,
                    "captureKeyboardEvents": false
                },
                "importItemSlot" : {
                    "type": "itemslot",
                    "position": [30,8],
                    "zlevel": 1,
                    "showRarity" : false,
                    "callback": "onImportItemSlotInteraction",
                    "rightClickCallback" : "null",
                    "showBackingImageWhenFull" : true,
                    "backingImage": "/interface/inventory/portrait.png",
                    "visible" : false,
                    "data" : {
                        "itemslotType" : "npc",
                        "verifyPath" : ["parameters", "npcArgs"],
                        "extractDataFunc" : "tenantFromNpcCard"
                    }
                },
                "monsterImportItemSlot" : {
                    "type": "itemslot",
                    "position": [90,8],
                    "zlevel": 1,
                    "showRarity" : false,
                    "callback": "onImportItemSlotInteraction",
                    "rightClickCallback" : "null",
                    "showBackingImageWhenFull" : true,
                    "backingImage": "/interface/scripted/deedmenu/capturepodbacking.png",
                    "visible" : false,
                    "hAnchor": "right",
                    "data": {
                        "itemslotType" : "monster",
                        "verifyPath" : ["parameters", "pets", 1],
                        "extractDataFunc" : "tenantFromCapturePod"
                    }
                },
                "modifyTenantButton" : {
                    "type": "button",
                    "position" : [85, 50],
                    "base" : "/interface/button.png?scalenearest=0.8;1.0",
                    "hover" : "/interface/buttonhover.png?scalenearest=0.8;1.0",
                    "disabledImage" : "/interface/buttongrayed.png?scalenearest=0.8;1.0",
                    "fontSize" : 8,
                    "caption" : "MODIFY",
                    "textAlign" : "center",
                    "pressedOffset": [0,-1],
                    "callback" : "null",
                    "visible" : true,
                    "enabled": true,
                    "hAnchor" : "mid",
                    "vAnchor" : "mid"
                },
                "exportTenantButton" : {
                    "type": "button",
                    "position" : [85, 35],
                    "base" : "/interface/button.png?scalenearest=0.8;1.0",
                    "hover" : "/interface/buttonhover.png?scalenearest=0.8;1.0",
                    "disabledImage" : "/interface/buttongrayed.png?scalenearest=0.8;1.0",
                    "fontSize" : 8,
                    "caption" : "EXPORT",
                    "textAlign" : "center",
                    "pressedOffset": [0,-1],
                    "visible" : true,
                    "enabled": true,
                    "callback" : "null",
                    "hAnchor" : "mid",
                    "vAnchor" : "mid"
                },
                "removeTenantButton" : {
                    "type": "button",
                    "position" : [85, 8],
                    "base" : "/interface/buttonred.png?scalenearest=0.8;1.0",
                    "hover" : "/interface/buttonredhover.png?scalenearest=0.8;1.0",
                    "disabledImage" : "/interface/buttongrayed.png?scalenearest=0.8;1.0",
                    "fontSize" : 8,
                    "caption" : "REMOVE",
                    "textAlign" : "center",
                    "pressedOffset": [0,-1],
                    "visible" : true,
                    "enabled": true,
                    "callback" : "RemoveTenant",
                    "hAnchor" : "mid",
                    "vAnchor" : "mid"
                },
                "requireFilledBackgroundButton" : {
                    "type": "button",
                    "position" : [15, 10],
                    "base" : "/interface/title/checkboxnocheck.png?scalenearest=1.34;1.34",
                    "hover" : "/interface/title/checkboxnocheckhover.png?scalenearest=1.34;1.34",
                    "baseImageChecked" : "/interface/title/checkboxcheck.png?scalenearest=1.34;1.34",
                    "hoverImageChecked" : "/interface/title/checkboxcheckhover.png?scalenearest=1.34;1.34",
                    "checkable" : true,
                    "checked" : false,
                    "callback" : "SetDeedConfig",
                    "data" : "deed.requireFilledBackground"
                }
            }
        }
    },
    "scriptWidgetCallbacks" : ["onTenantListItemPressed", "onSelectTenantListItem", "onImportItemSlotInteraction", "RemoveTenant", "SetDeedConfig"],
    "scripts": ["/interface/scripted/deedmenu/deedpane.lua"],
    "scriptDelta": 5,
    "deedUuid" : null,
    "playerUuid" : null,
    "stagehandId" : null,
    "deedId" : null,
    "stagehandPosition": null,
    "tenants" : [],
    "tenantPortraits" : [],
    "npcItem" : {
        "item" : "card01",
        "count": 1,
        "parameters": {
          "rarity" : "Common",
          "shortdescription" : "NpcName",
          "inventoryIcon": "/interface/nullcharportraitpart.png",
          "tooltipKind" : "simpleTooltip",
          "tooltipFields": {
            "contentLabel" : ""
          }
        }
    },
    
    "states" : [
        "selectNone",
        "selectNew",
        "confirmNew",
        "selectTenant",
        "modifyTenant",
        "replaceTenant",
        "confirmReplace"
    ],
 
    "widgetsToCheck" : {
        "removeTenantButton" : "detailArea.removeTenantButton",
        "modifyTenantButton" : "detailArea.modifyTenantButton",
        "importItemSlot" : "detailArea.importItemSlot",
        "monsterImportItemSlot" : "detailArea.monsterImportItemSlot",
        "exportTenantButton" : "detailArea.exportTenantButton",
        "requireFilledBackgroundButton" : "detailArea.requireFilledBackgroundButton"
    },
    "removeTenantButton" : {
        "fullPath": "detailArea.removeTenantButton",
        "default" : {
            "setVisible" : ["set", false]
        },
        "selectTenant" : {
            "setVisible" : ["set", true],
            "setButtonEnabled" : ["ne", {"func": "selectedInstanceValue", "args": ["listItemIndex"]}, 1]
        }
    },
    "requireFilledBackgroundButton" : {
        "fullPath": "detailArea.requireFilledBackgroundButton",
        "default" : {
            "setVisible" : ["set", false]
        },
        "selectNone" : {
            "setVisible" : ["set", true]
        }
    },
    "modifyTenantButton" : {
        "fullPath": "detailArea.modifyTenantButton",
        "default" : {
            "setVisible" : ["set", false]
        },
        "selectTenant" : {
            "setVisible" : ["ne", {"func": "selectedInstanceValue", "args": ["tenant"]}, null]
        }
    },
    "exportTenantButton" : {
        "fullPath": "detailArea.exportTenantButton",
        "default" : {
            "setVisible" : ["set", false]
        },
        "selectTenant" : {
            "setVisible" : ["set", true],
            "setButtonEnabled" : ["eq", {"func": "selectedInstanceValue", "args": ["tenant.spawn"]}, "npc"]
        }
    },
    "importItemSlot" : {
        "fullPath": "detailArea.importItemSlot",
        "default": {
            "setVisible" : ["set", false]
        },
        "modifyTenant" : {
            "setVisible" : ["set", true]
        },
        "selectNew" : {
            "setVisible" : ["set", true]
        }
    },
    "monsterImportItemSlot" : {
        "fullPath": "detailArea.monsterImportItemSlot",
        "default": {
            "setVisible" : ["set", false]
        },
        "modifyTenant" : {
            "setVisible" : ["set", true]
        },
        "selectNew" : {
            "setVisible" : ["set", true]
        }
    },
    "portraitCanvas" : {
        "fullPath" : "detailArea.portraitCanvas",
        "center" : [38,32],
        "drawImage" : {
            "newTenant" : {
                "image" : "/interface/nullcharportraitfull.png",
                "color" : [255, 255, 255, 125],
                "scale" : 1.0,
                "centered" : true
            },
            "npc" : {
                "scale" : 1.2,
                "centered" : true
            },
            "monster" : {
                "scale" : 1.2,
                "centered" : true
            },
            "stand" : {
                "image": "/interface/scripted/deedmenu/standbase.png?scalenearest=2.0;1.0",
                "color" : [255, 255, 255],
                "scale" : 1.2,
                "position" : [0,-2],
                "centered" : true
            }
        }
    },
    "detailCanvas" : {
        "fullPath": "detailArea.detailCanvas",
        "actions" : {
            "selectNone" : [
                ["drawText", 
                    {"func":"configParam","args":["guiText.selectNone.title"]},
                    {"func":"configParam","args":["layouts.centerTitle"]}
                ],
                ["drawText", 
                    {"func":"configParam","args":["guiText.selectNone.description"]},
                    {"func":"configParam","args":["layouts.centerDescription"]}
                ],
                ["drawText", 
                    {"func":"configParam","args":["guiText.selectNone.requireFilledBackgroundButton"]},
                    {"func":"configParam","args":["layouts.requireFilledBackgroundButton"]}
                ]
            ],
            "selectTenant" : [
                ["drawText", 
                    {"func": "selectedInstanceValue", "args": ["tenant.type"]},
                    {"func": "configParam", "args":["layouts.type"]}
                ],
                ["drawText", 
                    {"func": "selectedInstanceValue", "args": ["tenant.spawn"]},
                    {"func": "configParam", "args":["layouts.typeSubtitle"]}
                ]
            ],
            "selectNew" : [
                ["drawText", 
                    {"func":"configParam","args":["guiText.newTenant.title"]},
                    {"func":"configParam","args":["layouts.centerTitle"]}
                ],
                ["drawText", 
                    {"func":"configParam","args":["guiText.newTenant.description"]},
                    {"func":"configParam","args":["layouts.centerDescription"]}
                ]
            ]
        }
    },
    "guiText" : {
        "selectNone" : {
            "title" : "Tenantator 2000",
            "description" : "select a tenant above or modify the deed itself below",
            "requireFilledBackgroundButton" : "require filled background"
        },
        "newTenant" : {
            "title" : "New Tenant",
            "subtitle" : "",
            "description" : "Please Provide a valid NPC Card or a filled Capture Pod "
        }
    },
    "layouts" : {
        "type" : {
            "fontSize" : 8,
            "textPositioning": {
                "position" : [11,62],
                "horizontal Anchor" : "left",
                "verticalAnchor" : "top",
                "wrapWidth" : null
            }
        },
        "typeSubtitle" : {
            "fontSize" : 6,
            "fontColor" : "gray",
            "textPositioning": {
                "position" : [11,62],
                "horizontalAnchor" : "left",
                "verticalAnchor" : "bottom",
                "wrapWidth" : null
            }
        },
        "typeDescription" : {
            "fontSize" : 6,
            "fontColor" : "gray",
            "textPositioning": {
                "position" : [11,53],
                "horizontalAnchor" : "left",
                "verticalAnchor" : "top",
                "wrapWidth" : 129
            }
        },
        "centerTitle" : {
            "fontSize" : 10,
            "textPositioning": {
                "position" : [70,62],
                "horizontalAnchor" : "mid",
                "verticalAnchor" : "top",
                "wrapWidth" : null
            }
        },
        "centerDescription" : {
            "fontSize" : 6,
            "fontColor" : "gray",
            "textPositioning": {
                "position" : [70,50],
                "horizontalAnchor" : "mid",
                "verticalAnchor" : "top",
                "wrapWidth" : 129
            }
        },
        "listItemTitle" : {
            "fontSize" : 8,
            "textPositioning": {
                "position" : [30,9],
                "horizontalAnchor" : "left",
                "verticalAnchor" : "mid",
                "wrapWidth" : 129
            }
        },
        "requireFilledBackgroundButton" : {
            "fontSize" : 7,
            "textPositioning": {
                "position" : [30, 17],
                "horizontalAnchor" : "left",
                "verticalAnchor" : "mid",
                "wrapWidth" : 100
            }
        }
    }
}