{
    "openWithInventory": true,
    "gui" : {
        "background" : {
            "zlevel" : -1,
            "type" : "background",
            "fileHeader" : "/interface/scripted/deedmenu/colonydeed_test.png",
            "fileBody" : "",
            "fileFooter" : ""
        },
        "xmarker" : {
            "type": "button",
            "position" : [150, 238],
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "press" : "/interface/xpress.png",
            "pressedOffset": [0,-1],
            "visible" : true,
            "enabled": true,
            "callback" : "close"
        },
        "listLayout" : {
            "type": "layout",
            "layoutType": "vertical",
            "vAnchor" : "top",
            "hAnchor" : "left",
            "fillDown" : true,
            "spacing" : 3,
            "position" : [30, 222],
            "size": [100, 105],
            "children": {
                "tenantList" : {
                    "type": "list",
                    "callback" : "null",
                    "position" : [0, 2],
                    "schema": {
                        "memberSize": [100, 20],
                        "spacing": [0,1],
                        "listTemplate": {
                            "background": {
                                "type": "button",
                                "base" : "/interface/scripted/deedmenu/listitembg.png:unselected",
                                "hover" : "/interface/scripted/deedmenu/listitembg.png:hover",
                                "baseImageChecked" : "/interface/scripted/deedmenu/listitembg.png:selected",
                                "checkable" : true,
                                "checked" : false,
                                "position": [0,0],
                                "size": [100,20],
                                "caption" : "",
                                "fontSize": 8,
                                "textAlign" : "center",
                                "textOffset" : [-5, 0],
                                "callback" : "onTenantListItemPressed",
                                "pressedOffset" : [0,0],
                                "zlevel": 0
                            },
                            "portraitCanvas" : {
                                "type": "canvas",
                                "position": [0,0],
                                "size": [100, 20],
                                "zlevel": 0,
                                "mouseTransparent": true,
                                "captureMouseEvents": false,
                                "captureKeyboardEvents": false
                            },
                            "portraitSlot" : {
                                "type": "itemslot",
                                "position": [0,0],
                                "zlevel": 1,
                                "showRarity" : false,
                                "iconMode": true,
                                "callback": "null",
                                "mouseTransparent": true,
                                "backingImage": "/interface/inventory/portrait.png"
                            }
                        }
                    }
                }
            }
        },
        "detailArea" : {
            "type": "layout",
            "layoutType": "basic",
            "rect": [10, 20, 150, 110],
            "visible" : false,
            "children": {
                "detailCanvas": {
                    "type": "canvas",
                    "position": [0,0],
                    "size": [140, 70],
                    "zlevel": -1,
                    "mouseTransparent": true,
                    "captureMouseEvents": false,
                    "captureKeyboardEvents": false
                },
                "portraitCanvas" : {
                    "type": "canvas",
                    "position": [0,0],
                    "size": [140, 70],
                    "zlevel": 0,
                    "mouseTransparent": true,
                    "captureMouseEvents": false,
                    "captureKeyboardEvents": false
                },
                "importItemSlot" : {
                    "type": "itemslot",
                    "position": [30,8],
                    "zlevel": 1,
                    "showRarity" : false,
                    "callback": "onImportItemSlotInteraction",
                    "rightClickCallback" : "null",
                    "showBackingImageWhenFull" : true,
                    "backingImage": "/interface/inventory/portrait.png",
                    "visible" : false,
                    "data" : "npc"
                },
                "monsterImportItemSlot" : {
                    "type": "itemslot",
                    "position": [90,8],
                    "zlevel": 1,
                    "showRarity" : false,
                    "callback": "onImportItemSlotInteraction",
                    "rightClickCallback" : "null",
                    "showBackingImageWhenFull" : true,
                    "backingImage": "/interface/scripted/deedmenu/capturepodbacking.png",
                    "visible" : false,
                    "data" : "monster",
                    "hAnchor": "right"
                },
                "modifyTenantButton" : {
                    "type": "button",
                    "position" : [30, 72],
                    "base" : "/interface/button.png?scalenearest=0.8;1.0",
                    "hover" : "/interface/buttonhover.png?scalenearest=0.8;1.0",
                    "disabledImage" : "/interface/buttongrayed.png?scalenearest=0.8;1.0",
                    "fontSize" : 8,
                    "caption" : "MODIFY",
                    "textAlign" : "center",
                    "pressedOffset": [0,-1],
                    "visible" : true,
                    "enabled": true,
                    "callback" : "null"
                },
                "removeTenantButton" : {
                    "type": "button",
                    "position" : [90, 72],
                    "base" : "/interface/buttonred.png?scalenearest=0.8;1.0",
                    "hover" : "/interface/buttonredhover.png?scalenearest=0.8;1.0",
                    "disabledImage" : "/interface/buttongrayed.png?scalenearest=0.8;1.0",
                    "fontSize" : 8,
                    "caption" : "REMOVE",
                    "textAlign" : "center",
                    "pressedOffset": [0,-1],
                    "visible" : true,
                    "enabled": true,
                    "callback" : "RemoveTenant"
                }
            }
        }
    },
    "scriptWidgetCallbacks" : ["onTenantListItemPressed", "onSelectTenantListItem", "onImportItemSlotInteraction", "RemoveTenant"],
    "scripts": ["/interface/scripted/deedmenu/deedpane.lua"],
    "scriptDelta": 5,
    "deedUuid" : null,
    "playerUuid" : null,
    "stagehandId" : null,
    "deedId" : null,
    "stagehandPosition": null,
    "tenants" : [],
    "tenantPortraits" : [],
    "npcItem" : {
        "item" : "card01",
        "count": 1,
        "parameters": {
          "rarity" : "Common",
          "shortdescription" : "NpcName",
          "inventoryIcon": "/interface/nullcharportraitpart.png",
          "tooltipKind" : "simpleTooltip",
          "tooltipFields": {
            "contentLabel" : ""
          }
        }
    },
    
    "states" : [
      "selectNew",
      "confirmNew",
      "selectTenant",
      "modifyTenant",
      "replaceTenant",
      "confirmReplace"
    ],
 
    "widgetsToCheck" : {
        "removeTenantButton" : ["setVisible","setButtonEnabled"],
        "modifyTenantButton" : ["setVisible"],
        "detailArea" : ["setVisible"],
        "importItemSlot" : ["setVisible"],
        "monsterImportItemSlot" : ["setVisible"]
    },
    "removeTenantButton" : {
        "fullPath": "detailArea.removeTenantButton",
        "selectTenant" : {
            "setVisible" : [
                ["compare", null, "set", true]
            ],
            "setButtonEnabled" : [
                ["compare", {"func": "selectedInstanceValue", "args": ["listItemIndex"]}, "ne", 1]
            ]
        }
    },
    "modifyTenantButton" : {
        "fullPath": "detailArea.modifyTenantButton",
        "selectTenant" : {
            "setVisible" : [
                ["compare", {"func": "selectedInstanceValue", "args": ["tenant"]}, "ne", null]
            ]
        }
    },

    "detailArea" : {
        "fullPath" : "detailArea",
        "confirmNew" : "detailArea.selectNew",
        "selectTenant" : "detailArea.selectNew",
        "modifyTenant" : "detailArea.selectNew",
        "replaceTenant" : "detailArea.selectNew",
        "confirmReplace" : "detailArea.selectNew",
        "selectNew" : {
            "setVisible" : [
                ["compare",
                    null, "set", true
                ]
            ]
        }
    },
    "importItemSlot" : {
        "fullPath": "detailArea.importItemSlot",
        "modifyTenant" : {
            "setVisible" : [
                ["anyof",null, "set", true]
            ]
        },
        "selectNew" : {
            "setVisible" : [
                ["anyof",null, "set", true]
            ]
        }
    },
    "monsterImportItemSlot" : {
        "fullPath": "detailArea.monsterImportItemSlot",
        "modifyTenant" : "importItemslot.modifyTenant",
        "selectNew" : "importItemSlot.selectNew"
    },
    "portraitCanvas" : {
        "fullPath" : "detailArea.portraitCanvas",
        "center" : [38,30],

        "drawImage" : {
            "newTenant" : {
                "image" : "/interface/nullcharportraitfull.png",
                "color" : [255, 255, 255, 125],
                "scale" : 1.0,
                "centered" : true
            },
            "npc" : {
                "scale" : 1.2,
                "centered" : true
            }
        }
    },

    "detailCanvas" : {
        "fullPath": "detailArea.detailCanvas",
        "text" : {
            "type" : {
                "fontSize" : 8,
                "textPositioning": {
                    "position" : [11,62],
                    "horizontal Anchor" : "left",
                    "verticalAnchor" : "top",
                    "wrapWidth" : null
                }
            },
            "typeSubtitle" : {
                "fontSize" : 6,
                "fontColor" : "gray",
                "textPositioning": {
                    "position" : [11,62],
                    "horizontalAnchor" : "left",
                    "verticalAnchor" : "bottom",
                    "wrapWidth" : null
                }
            },
            "typeDescription" : {
                "fontSize" : 6,
                "fontColor" : "gray",
                "textPositioning": {
                    "position" : [11,53],
                    "horizontalAnchor" : "left",
                    "verticalAnchor" : "top",
                    "wrapWidth" : 129
                }
            },
            "centerTitle" : {
                "fontSize" : 8,
                "textPositioning": {
                    "position" : [70,62],
                    "horizontalAnchor" : "mid",
                    "verticalAnchor" : "top",
                    "wrapWidth" : null
                }
            },
            "centerDescription" : {
                "fontSize" : 6,
                "fontColor" : "gray",
                "textPositioning": {
                    "position" : [70,50],
                    "horizontalAnchor" : "mid",
                    "verticalAnchor" : "top",
                    "wrapWidth" : 129
                }
            }
        },
        "actions" : {
            "selectTenant" : [
                ["drawText", 
                    {"func": "selectedInstanceValue", "args": ["tenant.type"]},
                    {"func": "configParam", "args":["detailCanvas.text.type"]}
                ],
                ["drawText", 
                    "Type",
                    {"func": "configParam", "args":["detailCanvas.text.typeSubtitle"]}
                ]
            ],
            "selectNew" : [
                ["drawText", 
                    {"func":"configParam","args":["guiText.newTenant.title"]},
                    {"func":"configParam","args":["detailCanvas.text.centerTitle"]}
                ],
                ["drawText", 
                    {"func":"configParam","args":["guiText.newTenant.description"]},
                    {"func":"configParam","args":["detailCanvas.text.centerDescription"]}
                ]
            ]
        }
    },

    "guiText" : {
        "newTenant" : {
            "title" : "New Tenant",
            "subtitle" : "",
            "description" : "Please Provide a valid NPC Card or a filled Capture Pod "
        }
    }


}