{
    "openWithInventory": true,
    "gui" : {
        "background" : {
            "zlevel" : -1,
            "type" : "background",
            "fileHeader" : "/interface/scripted/deedmenu/colonydeed_test.png",
            "fileBody" : "",
            "fileFooter" : ""
        },
        "tenantScrollArea" : {
            "type": "layout",
            "layoutType": "basic",
            "rect": [30, 120, 138, 225],
            "children": {
                "list" : {
                    "type": "list",
                    "callback" : "onSelectTenantListItem",
                    "fillDown" : true,
                    "position" : [0, 103],
                    "schema": {
                        "memberSize": [100, 20],
                        "spacing": [0,1],
                        "unselectedBG":"/interface/scripted/deedmenu/listitembg.png:unselected",
                        "selectedBG":"/interface/scripted/deedmenu/listitembg.png:selected",
                        "hoverBG":"/interface/scripted/deedmenu/listitembg.png:hover",
                        "listTemplate": {
                            "background": {
                                "type": "image",
                                "file": "/interface/scripted/deedmenu/listitembg.png:unselected",
                                "position": [0,0],
                                "zlevel": -1
                            },
                            "portraitCanvas" : {
                                "type": "canvas",
                                "position": [0,0],
                                "size": [100, 20],
                                "zlevel": 0,
                                "mouseTransparent": true,
                                "captureMouseEvents": false,
                                "captureKeyboardEvents": false
                            },
                            "portraitSlot" : {
                                "type": "itemslot",
                                "position": [0,0],
                                "zlevel": 1,
                                "showRarity" : false,
                                "iconMode": true,
                                "callback": "null",
                                "mouseTransparent": true,
                                "backingImage": "/interface/inventory/portrait.png"
                            }
                        }
                    }
                }
            }
        },
        "detailArea" : {
            "type": "layout",
            "layoutType": "basic",
            "rect": [10, 20, 150, 90],
            "visible" : true,
            "children": {
                "detailCanvas": {
                    "type": "canvas",
                    "position": [0,0],
                    "size": [140, 70],
                    "zlevel": -1,
                    "mouseTransparent": true,
                    "captureMouseEvents": false,
                    "captureKeyboardEvents": false
                },
                "portraitCanvas" : {
                    "type": "canvas",
                    "position": [0,0],
                    "size": [140, 70],
                    "zlevel": 0,
                    "mouseTransparent": true,
                    "captureMouseEvents": false,
                    "captureKeyboardEvents": false
                },
                "importItemSlot" : {
                    "type": "itemslot",
                    "position": [100,40],
                    "zlevel": 1,
                    "showRarity" : false,
                    "callback": "onImportItemSlotInteraction",
                    "rightClickCallback" : "null",
                    "backingImage": "/interface/inventory/portrait.png"
                },
                "removeTenantButton" : {
                    "type": "button",
                    "position" : [100, 20],
                    "base" : "/interface/buttonred.png",
                    "hover" : "/interface/buttonredhover.png",
                    "disabledImage" : "/interface/buttongrayed.png",
                    "caption" : "REMOVE TENANT",
                    "textAlign" : "center",
                    "pressedOffset": [0,-1],
                    "visible" : true,
                    "enabled": true,
                    "callback" : "RemoveTenant"
                }
            }
        }
    },
    "scriptWidgetCallbacks" : ["onSelectTenantListItem", "onImportItemSlotInteraction", "RemoveTenant"],
    "scripts": ["/interface/scripted/deedmenu/deedpane.lua"],
    "scriptDelta": 5,
    "deedUuid" : null,
    "playerUuid" : null,
    "stagehandId" : null,
    "deedId" : null,
    "stagehandPosition": null,
    "tenants" : [],
    "tenantPortraits" : [],
    "iconItem" : {
        "item" : "card01",
        "count": 1,
        "parameters": {
          "rarity" : "Common",
          "shortdescription" : "NpcName",
          "inventoryIcon": "/interface/nullcharportraitpart.png"
        }
    },

    "removeTenantButton" : {
        "fullPath": "detailArea.removeTenantButton",
        "setVisible" : [
            ["compare", {"func": "selectedInstanceValue", "args": ["isCreateNewItem"]}, "eq", false],
            ["compare", {"func": "selectedInstanceValue", "args": ["tenant"]}, "ne", null]
        ],
        "setButtonEnabled" : [
            ["compare", {"func": "selectedInstanceValue", "args": ["listItemIndex"]}, "ne", 1]
        ]
    },

    "widgetsToCheck" : {
        "removeTenantButton" : ["setVisible", "setButtonEnabled"]
    }
}